*.xlsx
*.zip
Manifest.toml
.DS_Store
*.jl.cov
*.jl.*.cov
*.jl.mem
*.cov
/docs/build/
docs/site/
/docs/Manifest.toml
*.ipynb_checkpoints
*.csv
!refBatchDfCodes.csv
!refBatchWinners.csv
!refParallelDfCodes.csv
!refParallelWinners.csv
*.py
__pycache__
data/
*.fcs
*.orig
data/
test/data/
test/genData/
